<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Final Project</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <script src="/code.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1>Random Advice!</h1>
            <fieldset>
                <legend>Advice</legend>
                <p id="session"><%-ID%></p>
                <p id="fact">Your advice will appear here...</p>
                <button id="displayAdviceButton" onclick="displayAdvice()">Get Random Advice</button>
                <button id="saveAdviceButton" onclick="saveAdvice()">Save Advice</button>
            </fieldset>
         </div>
         <p><a href="/saved">Saved Advices </a></p>
         <p><a href="/">ID Page </a></p>
    </body>
</html>